/* app css stylesheet */

html,body,table,a{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 21px;
    color: #646464;
}
footer{
    margin-top: 15px;
    font-size: 0.8em;
    text-align: center;
}
.navbar-brand{
    margin-left: 0px;
}
.text-bottom{
    vertical-align: bottom;
    margin-bottom: 15px;
}
.alert{
    display: none;
}
.panel-title .btn{
    margin-top: -3px;
    float: right;
}
.thumbnail{
    /* min-height: 157px; */
}
.thumbnail p{
    min-height: 50px;
}
.thumbnail:hover{
    text-decoration: none;
    cursor: pointer;
}
.modal-dialog{
    width: 70%;
    min-width: 380px;
    margin: 30px auto;
}
#termsModalBody{
    text-align: justify;
}
#termsModalBody h2{
    font-size: 1.5em;
}
#termsModalBody h3{
    font-size: 1.35em;
}
#termsModalBody blockquote {
    padding: 0 5px 0 20px;
    margin: 0 0 10px;
    font-size: 1em;
    border: none;
}
.brand img{
    width: 250px;
}
.tree_item{
    padding-left: 20px;   
}
.tree_item_input{
    padding-bottom: 15px;
    padding-right: 5px;
}
.extras{
    margin-bottom: 3px;
    margin-right: 3px;
    display: inline !important;
    float: left;
    max-width: 100%;
    overflow: auto;
}
.dropbox{
    min-height: 47px;
    border: dotted 2px #b3b3b3;
}
.dropbox p{
    color: #b3b3b3;
    font-size: 1.2em;
    text-align: center;
    padding-top: 5px;
    margin-bottom: -20px;
}

.panel-body h4{
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .navbar-brand{
        margin: -1px 0 0 -16px;
        width: 250px;
    }
    .brand img{
        margin: 5px 0 10px;
        width: 100%;
    }
    .nav{
        margin: 0 0 0 0;
    }
    .navbar .nav li a, .navbar .nav .active a{
        padding: 28px; 
    }
}

/* page transition */
#content {
    transition-timing-function: ease;
    transition-duration: 200ms;
}
#content.ng-enter {
    transition-property: none;
    transform: translate3d(100%,0,0);
}
#content.ng-enter.ng-enter-active {
    transition-property: all;
    transform: translate3d(100%,0,0);
}
#content.ng-leave {
    transition-property: all;
    transform: translate3d(0,0,0);
}
#content.ng-leave.ng-leave-active {
    transition-property: all;
    transform: translate3d(0,100%,0);
}

/*  loader panel */
#loader{
    display: none;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 20000;
    width: 100%;
    height: 100%;
    background: #e4e4e4;
    opacity: 0.5;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}
#floatingCirclesG{
    position:relative;
    width:80px;
    height:80px;
    margin: 0 auto;
    top: 43%;
    -moz-transform:scale(0.6);
    -webkit-transform:scale(0.6);
    -ms-transform:scale(0.6);
    -o-transform:scale(0.6);
    transform:scale(0.6);
}
#floatingTextG{
    position: relative;
    margin: 0 auto;
    top: 43%;
    width: 200px;
    text-align: center;
    font-weight: 500;
    font-size: 1.2em;
    -o-animation: f_text 3s infinite linear;
    -ms-animation: f_text 3s infinite linear;
    -webkit-animation: f_text 3s infinite linear;
    animation: f_text 3s infinite linear;
}
.f_circleG{
    position:absolute;
    background-color:#F0F0F0;
    height:15px;
    width:15px;
    -moz-border-radius:7px;
    -moz-animation-name:f_fadeG;
    -moz-animation-duration:0.64s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:linear;
    -webkit-border-radius:7px;
    -webkit-animation-name:f_fadeG;
    -webkit-animation-duration:0.64s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:linear;
    -ms-border-radius:7px;
    -ms-animation-name:f_fadeG;
    -ms-animation-duration:0.64s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-direction:linear;
    -o-border-radius:7px;
    -o-animation-name:f_fadeG;
    -o-animation-duration:0.64s;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:linear;
    border-radius:7px;
    animation-name:f_fadeG;
    animation-duration:0.64s;
    animation-iteration-count:infinite;
    animation-direction:linear;
}
#frotateG_01{
    left:0;
    top:33px;
    -moz-animation-delay:0.24s;
    -webkit-animation-delay:0.24s;
    -ms-animation-delay:0.24s;
    -o-animation-delay:0.24s;
    animation-delay:0.24s;
}
#frotateG_02{
    left:9px;
    top:9px;
    -moz-animation-delay:0.32s;
    -webkit-animation-delay:0.32s;
    -ms-animation-delay:0.32s;
    -o-animation-delay:0.32s;
    animation-delay:0.32s;
}
#frotateG_03{
    left:33px;
    top:0;
    -moz-animation-delay:0.4s;
    -webkit-animation-delay:0.4s;
    -ms-animation-delay:0.4s;
    -o-animation-delay:0.4s;
    animation-delay:0.4s;
}
#frotateG_04{
    right:9px;
    top:9px;
    -moz-animation-delay:0.48s;
    -webkit-animation-delay:0.48s;
    -ms-animation-delay:0.48s;
    -o-animation-delay:0.48s;
    animation-delay:0.48s;
}
#frotateG_05{
    right:0;
    top:33px;
    -moz-animation-delay:0.56s;
    -webkit-animation-delay:0.56s;
    -ms-animation-delay:0.56s;
    -o-animation-delay:0.56s;
    animation-delay:0.56s;
}
#frotateG_06{
    right:9px;
    bottom:9px;
    -moz-animation-delay:0.64s;
    -webkit-animation-delay:0.64s;
    -ms-animation-delay:0.64s;
    -o-animation-delay:0.64s;
    animation-delay:0.64s;
}
#frotateG_07{
    left:33px;
    bottom:0;
    -moz-animation-delay:0.72s;
    -webkit-animation-delay:0.72s;
    -ms-animation-delay:0.72s;
    -o-animation-delay:0.72s;
    animation-delay:0.72s;
}
#frotateG_08{
    left:9px;
    bottom:9px;
    -moz-animation-delay:0.8s;
    -webkit-animation-delay:0.8s;
    -ms-animation-delay:0.8s;
    -o-animation-delay:0.8s;
    animation-delay:0.8s;
}
@-moz-keyframes f_text {
    0% {color: #a4a4a4;}
    50% {color: #646464;}
    100% {color: #a4a4a4;}
}
@-webkit-keyframes f_text {
    0% {color: #a4a4a4;}
    50% {color: #646464;}
    100% {color: #a4a4a4;}
}
@-ms-keyframes f_text {
    0% {color: #a4a4a4;}
    50% {color: #646464;}
    100% {color: #a4a4a4;}
}
@-o-keyframes f_text {
    0% {color: #a4a4a4;}
    50% {color: #646464;}
    100% {color: #a4a4a4;}
}
@keyframes f_text {
    0% {color: #a4a4a4;}
    50% {color: #646464;}
    100% {color: #a4a4a4;}
}
@-moz-keyframes f_fadeG{
    0%{background-color:#000000;}
    100%{background-color:#F0F0F0;}
}
@-webkit-keyframes f_fadeG{
    0%{background-color:#000000;}
    100%{background-color:#F0F0F0;}
}
@-ms-keyframes f_fadeG{
    0%{background-color:#000000;}
    100%{background-color:#F0F0F0;}
}
@-o-keyframes f_fadeG{
    0%{background-color:#000000;}
    100%{background-color:#F0F0F0;}
}
@keyframes f_fadeG{
    0%{background-color:#000000;}
    100%{background-color:#F0F0F0;}
}
/* End Loader */

